In [91]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

In [92]:
dataset=pd.read_csv('../data/stations_services_cleaned_data.csv')

In [110]:
dataset.head()

,NOMDPO,LIBPRD,NUMCPT,MOIS,CODGVR,CODLOC,SUM(MNTHT),SUM(QTEPRD),prixHT
0,GOULETTE,GASOIL,AV.BOUGATFA,18-Feb,TUNIS,LE BARDO,28077.686,26.0,1079.911
1,BIZERTE CARBURANT,GASOIL,M. BOURGUIBA,18-Jan,BIZERTE,MENZEL BOURGUIBA,82073.236,76.0,1079.911
2,GOULETTE,SSP SUPER SANS PLOMB,KALAA EL KEBIRA,18-Feb,SOUSSE,KALAA KBIRA,55151.072,38.0,1451.344
3,GOULETTE,SSP SUPER SANS PLOMB,GAMMARTH,18-Feb,TUNIS,GAMMARTH,134974.992,93.0,1451.344
4,GOULETTE,GASOIL,BEN AROUS MC 34,18-Feb,BEN AROUS,BEN AROUS,96112.079,89.0,1079.911

In [94]:
gouv=pd.read_csv('../data/data reference/gouvernorat et ses codes.csv')
loc=pd.read_csv('../data/data reference/nouvelle_dataset.csv')
nomDpo=pd.read_csv('../data/data reference/Nom depot et index.csv')
typeP=pd.read_csv('../data/data reference/type produit et index.csv')

## 1-Join Column NOMDPO By ID

In [95]:
#dataset['NOMDPO'] = dataset['NOMDPO'].map(nomDpo.set_index('index')['NOMDPO'])
dataset

,NOMDPO,LIBPRD,NUMCPT,MOIS,CODGVR,CODLOC,SUM(MNTHT),SUM(QTEPRD),prixHT
0,GOULETTE,1,151140,18-Feb,1,75,28077.686,26.0,1079.911
1,BIZERTE CARBURANT,1,153660,18-Jan,6,15,82073.236,76.0,1079.911
2,GOULETTE,2,154730,18-Feb,14,14,55151.072,38.0,1451.344
3,GOULETTE,2,155330,18-Feb,1,90,134974.992,93.0,1451.344
4,GOULETTE,1,154450,18-Feb,3,52,96112.079,89.0,1079.911
...,...,...,...,...,...,...,...,...,...
21770,SKHIRA,1,153000,19-Dec,23,95,113132.705,85.0,1330.973
21771,SKHIRA,2,153000,19-Dec,23,95,53399.648,32.0,1668.739
21772,ZARZIS,2,151470,19-Dec,22,47,3337.478,2.0,1668.739
21773,GOULETTE,4,155720,19-Dec,3,97,7286.048,4.0,1821.512
21774,SKHIRA,2,155350,19-Dec,20,15,3337.478,2.0,1668.739

## 2-Join Column LIBPRD By ID

In [96]:
#dataset['LIBPRD'] = dataset['LIBPRD'].map(typeP.set_index('index')['LIBPRD'])
dataset

,NOMDPO,LIBPRD,NUMCPT,MOIS,CODGVR,CODLOC,SUM(MNTHT),SUM(QTEPRD),prixHT
0,GOULETTE,GASOIL,151140,18-Feb,1,75,28077.686,26.0,1079.911
1,BIZERTE CARBURANT,GASOIL,153660,18-Jan,6,15,82073.236,76.0,1079.911
2,GOULETTE,SSP SUPER SANS PLOMB,154730,18-Feb,14,14,55151.072,38.0,1451.344
3,GOULETTE,SSP SUPER SANS PLOMB,155330,18-Feb,1,90,134974.992,93.0,1451.344
4,GOULETTE,GASOIL,154450,18-Feb,3,52,96112.079,89.0,1079.911
...,...,...,...,...,...,...,...,...,...
21770,SKHIRA,GASOIL,153000,19-Dec,23,95,113132.705,85.0,1330.973
21771,SKHIRA,SSP SUPER SANS PLOMB,153000,19-Dec,23,95,53399.648,32.0,1668.739
21772,ZARZIS,SSP SUPER SANS PLOMB,151470,19-Dec,22,47,3337.478,2.0,1668.739
21773,GOULETTE,APS AGILIX PREMIUM ESS.,155720,19-Dec,3,97,7286.048,4.0,1821.512
21774,SKHIRA,SSP SUPER SANS PLOMB,155350,19-Dec,20,15,3337.478,2.0,1668.739

## 3-Join Column CODLOC By ID

In [97]:
# dataset['key'] = dataset['CODLOC'].astype(str) + '_' + dataset['CODGVR'].astype(str)
# loc['key'] = loc['CODLOC'].astype(str) + '_' + loc['CODGVR'].astype(str)
# loc = loc.drop_duplicates(subset='key')
# dataset['CODLOC'] = dataset['key'].map(loc.set_index('key')['LIBLOC'])

In [98]:
dataset

,NOMDPO,LIBPRD,NUMCPT,MOIS,CODGVR,CODLOC,SUM(MNTHT),SUM(QTEPRD),prixHT,key
0,GOULETTE,GASOIL,151140,18-Feb,1,LE BARDO,28077.686,26.0,1079.911,75_1
1,BIZERTE CARBURANT,GASOIL,153660,18-Jan,6,MENZEL BOURGUIBA,82073.236,76.0,1079.911,15_6
2,GOULETTE,SSP SUPER SANS PLOMB,154730,18-Feb,14,KALAA KBIRA,55151.072,38.0,1451.344,14_14
3,GOULETTE,SSP SUPER SANS PLOMB,155330,18-Feb,1,GAMMARTH,134974.992,93.0,1451.344,90_1
4,GOULETTE,GASOIL,154450,18-Feb,3,BEN AROUS,96112.079,89.0,1079.911,52_3
...,...,...,...,...,...,...,...,...,...,...
21770,SKHIRA,GASOIL,153000,19-Dec,23,BIR LAHMAR,113132.705,85.0,1330.973,95_23
21771,SKHIRA,SSP SUPER SANS PLOMB,153000,19-Dec,23,BIR LAHMAR,53399.648,32.0,1668.739,95_23
21772,ZARZIS,SSP SUPER SANS PLOMB,151470,19-Dec,22,BEN GUERDENE,3337.478,2.0,1668.739,47_22
21773,GOULETTE,APS AGILIX PREMIUM ESS.,155720,19-Dec,3,BIR EL KASSAA,7286.048,4.0,1821.512,97_3
21774,SKHIRA,SSP SUPER SANS PLOMB,155350,19-Dec,20,KEBILI,3337.478,2.0,1668.739,15_20

## 4-Join Column CODEGVR By ID

In [99]:
#dataset['CODGVR'] = dataset['CODGVR'].map(gouv.set_index('CODGVR')['LIBGVR'])
dataset

,NOMDPO,LIBPRD,NUMCPT,MOIS,CODGVR,CODLOC,SUM(MNTHT),SUM(QTEPRD),prixHT,key
0,GOULETTE,GASOIL,151140,18-Feb,TUNIS,LE BARDO,28077.686,26.0,1079.911,75_1
1,BIZERTE CARBURANT,GASOIL,153660,18-Jan,BIZERTE,MENZEL BOURGUIBA,82073.236,76.0,1079.911,15_6
2,GOULETTE,SSP SUPER SANS PLOMB,154730,18-Feb,SOUSSE,KALAA KBIRA,55151.072,38.0,1451.344,14_14
3,GOULETTE,SSP SUPER SANS PLOMB,155330,18-Feb,TUNIS,GAMMARTH,134974.992,93.0,1451.344,90_1
4,GOULETTE,GASOIL,154450,18-Feb,BEN AROUS,BEN AROUS,96112.079,89.0,1079.911,52_3
...,...,...,...,...,...,...,...,...,...,...
21770,SKHIRA,GASOIL,153000,19-Dec,TATAOUINE,BIR LAHMAR,113132.705,85.0,1330.973,95_23
21771,SKHIRA,SSP SUPER SANS PLOMB,153000,19-Dec,TATAOUINE,BIR LAHMAR,53399.648,32.0,1668.739,95_23
21772,ZARZIS,SSP SUPER SANS PLOMB,151470,19-Dec,MEDENINE,BEN GUERDENE,3337.478,2.0,1668.739,47_22
21773,GOULETTE,APS AGILIX PREMIUM ESS.,155720,19-Dec,BEN AROUS,BIR EL KASSAA,7286.048,4.0,1821.512,97_3
21774,SKHIRA,SSP SUPER SANS PLOMB,155350,19-Dec,KEBILI,KEBILI,3337.478,2.0,1668.739,15_20

## 5-Join Column NOMCPT By ID

In [100]:
clients=pd.read_excel('../data/data reference/codification clients_NUMCPT.xlsx',header=1)

In [101]:
#dataset['NUMCPT'] = dataset['NUMCPT'].map(clients.set_index('NUMCPT')['STATION'])
dataset

,NOMDPO,LIBPRD,NUMCPT,MOIS,CODGVR,CODLOC,SUM(MNTHT),SUM(QTEPRD),prixHT,key
0,GOULETTE,GASOIL,AV.BOUGATFA,18-Feb,TUNIS,LE BARDO,28077.686,26.0,1079.911,75_1
1,BIZERTE CARBURANT,GASOIL,M. BOURGUIBA,18-Jan,BIZERTE,MENZEL BOURGUIBA,82073.236,76.0,1079.911,15_6
2,GOULETTE,SSP SUPER SANS PLOMB,KALAA EL KEBIRA,18-Feb,SOUSSE,KALAA KBIRA,55151.072,38.0,1451.344,14_14
3,GOULETTE,SSP SUPER SANS PLOMB,GAMMARTH,18-Feb,TUNIS,GAMMARTH,134974.992,93.0,1451.344,90_1
4,GOULETTE,GASOIL,BEN AROUS MC 34,18-Feb,BEN AROUS,BEN AROUS,96112.079,89.0,1079.911,52_3
...,...,...,...,...,...,...,...,...,...,...
21770,SKHIRA,GASOIL,BIR LAHMAR,19-Dec,TATAOUINE,BIR LAHMAR,113132.705,85.0,1330.973,95_23
21771,SKHIRA,SSP SUPER SANS PLOMB,BIR LAHMAR,19-Dec,TATAOUINE,BIR LAHMAR,53399.648,32.0,1668.739,95_23
21772,ZARZIS,SSP SUPER SANS PLOMB,BEN GUERDANE,19-Dec,MEDENINE,BEN GUERDENE,3337.478,2.0,1668.739,47_22
21773,GOULETTE,APS AGILIX PREMIUM ESS.,EL MOUROUJ,19-Dec,BEN AROUS,BIR EL KASSAA,7286.048,4.0,1821.512,97_3
21774,SKHIRA,SSP SUPER SANS PLOMB,KEBILI (ex-GPL),19-Dec,KEBILI,KEBILI,3337.478,2.0,1668.739,15_20

In [105]:
dataset = dataset.drop('key', axis=1)

In [109]:
dataset.to_csv('../data/Cleaned_station_services2018_2019.csv',index=False)